*
!./.gitignore
!README.md
!constraints/
!sim/
!sim/*.sh
!sim/*.tcl
!sim/*.sv
!sim/*.svh
!src/
!src/*.sv
!src/inc/
!src/inc/*.*vh
!src/sd_mmc_emulator/
!src/sd_mmc_emulator/*.vhd
!constraints/
!constraints/*.xdc
!auxiliary/
!auxiliary/*.tcl
!verification/
!verification/*.sv
!verification/hwdbg/
!verification/hwdbg/*.sh
!verification/hwdbg/*.tcl
!verification/sim/*.sv
!verification/sim/*.sh
!verification/sim/*.tcl
