*
!.gitignore
!README.md
!constraints/
!constraints/.gitkeep
!ip/
!ip/.gitkeep
!sim/
!sim/.gitkeep
!src/
!src/*.sv
!src/inc/
!src/inc/*.*vh
!src/sd_mmc_emulator/
!src/sd_mmc_emulator/*.vhd
!vivado/
!vivado/*.sh
!vivado/*.tcl
!auxiliary/
!auxiliary/*.tcl
